/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### sub-gitignore ###
*.gitignore

### log files ###
*.log

### package files ###
*.tar.gz
*.zip
*.war
*.ear
*.rar

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.scannerwork

### vim ###
*.swp

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
